
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 144rem;
}.desktop-3-Y5C {
  width: 100%;
  height: 102.4rem;
  position: relative;
  overflow: hidden;
  background-color: #3d3c3d;
}
.desktop-3-Y5C .screenshot7-1-Txr {
  width: 125rem;
  height: 79.2rem;
  position: absolute;
  left: 0;
  top: 20.2rem;
  object-fit: cover;
  vertical-align: top;
}
.desktop-3-Y5C .ar-sneakers-nES {
  width: 52.1rem;
  height: 11rem;
  position: absolute;
  left: 82.3rem;
  top: 21.6rem;
  font-size: 7.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  font-family: Bakbak One, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-Y5C .dazzling-01-QFp {
  width: 22.1rem;
  height: 5.1rem;
  position: absolute;
  left: 82.3rem;
  top: 30.2rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  font-family: Bakbak One, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-Y5C .rp-1800000-3Zg {
  width: 22.4rem;
  height: 5.1rem;
  position: absolute;
  left: 103.9rem;
  top: 45.8rem;
  font-size: 3.6rem;
  font-weight: 400;
  line-height: 1.4;
  color: #ffffff;
  font-family: Bakbak One, 'Source Sans Pro';
  white-space: nowrap;
}
.desktop-3-Y5C .screenshot8-1-VAn {
  width: 36.8rem;
  height: 20.1rem;
  position: absolute;
  left: 65.8rem;
  top: 41.1rem;
  object-fit: cover;
  vertical-align: top;
}
